@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-green-background-light: #fff;
  --primary-green-background-dark: #1a3306;
  --primary-green-color-dark: #103d12;
  --primary-white: #eaeaea;
}

body {
  background: var(--primary-green-background-light);
  font-family: "Inter", sans-serif;
}

/* Navigation Bar */

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  border-bottom: 0.5px solid var(--primary-green-color-dark);
}

a {
  text-decoration: none;
}

nav li {
  list-style: none;
  color: var(--primary-green-color-dark);
  display: none;
}
nav .nav-left {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

nav img {
  height: 20px;
  width: auto;
}

nav .nav-right ul {
  display: flex;
}

.nav-right ul a {
  position: relative;
}

.nav-right ul li {
  font-weight: 700;
  transition: 250ms ease-in-out;
}

ul li.active::after {
  position: absolute;
  bottom: -0.3em;
  left: 0;
  content: "";
  background: var(--primary-green-background-dark);
  width: 100%;
  height: 0.1em;
  transition: all 250ms ease-in-out;
}

ul li.active:hover {
  width: 100%;
}

.nav-right ul li:hover,
.nav-right ul li.active {
  color: #460505;
}

@media (min-width: 767px) {
  nav {
    padding: 13px 45px;
  }

  nav .nav-left {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }
  nav img {
    height: 39px;
    width: auto;
  }
  nav .nav-right ul {
    display: flex;
    gap: 31px;
  }
  nav li {
    display: flex;
  }
}
