* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-green-background-light: #CCE4CB;
  --primary-green-background-dark: #1A3306;
  --primary-green-color-dark: #103D12;
  --primary-white: #EAEAEA;
}

body {
  background: var(--primary-green-background-light);
}

nav div:first-child img {
  display: block;
}
nav img {
  height: auto;
  width: 6em;
}
